<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
	<tr>
		<td valign="middle" class="hero bg_white" style="padding: 2em 0 4em 0;">
		  <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
			  <tr>
				  <td style="padding: 0 2.5em; text-align: center; padding-bottom: 3em;">
					  <div class="text">
						  <h2>Une nouvelle personne a rejoint la mision</h2>
					  </div>
				  </td>
			  </tr>
			  <tr>
					<td style="text-align: center;">
						<div class="text-author">
							<img src="{{base_url}}/{{user.avatar}}" alt="" style="width: 100px; max-width: 600px; height: auto; margin: auto; display: block;">
							<h3 class="name">{{user.firstname}} {{user.lastname}}</h3>
							<span class="position">{{user.email}}</span>
							<p>
								<a href="{{web_app}}/" target="_blank" style="padding: 5px 15px; display: inline-block; border-radius: 5px; background: #7068DC; color: #ffffff;">Voir la mission</a>
							</p>  
						 </div>
					</td>
				  </tr>
		  </table>
		</td>
	</tr><!-- end tr -->
</table>