<table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
	<tr>
		<td class="bg_white email-section" style="width: 100%;">
			<table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td valign="middle" width="35%">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			  <tr>
				<td>
				  <img src="{{base_url}}/{{job.attachments[0].image}}" alt="" style="width: 100%; max-width: 600px; height: auto; margin: auto; display: block;">
				</td>
			  </tr>
			</table>
		  </td>
		  <td valign="middle" width="65%">
			<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
			  <tr>
				<td class="text-services" style="text-align: left; padding-left:25px;">
					<div class="heading-section">
						<h2>{{job.title}}</h2>
						<p>Cette mission a eu des mise à jours importante</p>
						{{#if difficulty}}
						<p>Difficulté -> <strong>{{job.difficulty.level}} ({{difficulty.token}} tokens)</strong></p>
						{{/if}}
						{{#if status}}
						<p>Status -> <strong>{{status.label}}</strong></p>
						{{/if}}
						<p>
							<a href="{{mobile_app}}/" target="_blank" style="padding: 5px 15px; display: inline-block; border-radius: 5px; background: #7068DC; color: #ffffff;">Voir la mission</a>
						</p>
					</div>
				</td>
			  </tr>
			</table>
		  </td>
		</tr>
			</table>
		</td>
	</tr><!-- end: tr -->
</table>